:root{
    --primary-color: #4CAF50;
    --secondary-color: #f44336;
    --background-color: #DAD8C9;
    --text-color: #333;
    --button-primary: #4CAF50;
    --button-secondary: #f44336;

    --bg-dark-1: #050525;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    user-select: none;
}

body{
    /* background-color: var(--background-color); */
    background-image: url("../assets/images/wallpaper2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
}
.input-group{
    display: flex;
}

.input-group{
    display: flex;
}

.input-group{
    display: flex;
}

.card{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    /* background: linear-gradient(45deg, #45458580, #adadff80, #45458580); */
    background: #3b2a1f;
    backdrop-filter: blur(8px);
    border-radius: 25px;
    overflow: hidden;

    /* Animasi hover */
    transition: transform 2s ease, box-shadow 2s ease;
}

.card:hover{
    transform: translateY(-15px) !important;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.35);
}

.card * {
    color: #fff;
}

.card input {
    color: #000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateY(20deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/* Style utama */
.typing-title {
  font-weight: 600;
  font-family: 'Cursive', 'Brush Script MT';

  width: fit-content;
  margin: 0 auto;

  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;

  /* total durasi:
     masuk 2s
     diam 3s
     keluar 2s
     total 7s
  */
  animation:
    typingCycle 7s steps(8) infinite,
    blink 0.7s infinite;
}

/* Animasi ketik + hapus */
@keyframes typingCycle {

  /* MULAI kosong */
  0% {
    width: 0;
  }

  /* Ketik masuk 2 detik */
  28% {
    width: 10ch;
  }

  /* Diam 3 detik */
  71% {
    width: 10ch;
  }

  /* Hapus keluar 2 detik */
  100% {
    width: 0;
  }
}

/* Cursor berkedip */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* footer {
    background: linear-gradient(#45458580, #adadff80, #45458580);
    backdrop-filter: blur(8px);
    border: solid 1px #adadff;
    border-bottom: none;
    padding: 12px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: fixed;
    bottom: 0;
    left: 12px;
    right: 12px;
} */

footer {
  position: relative;
  width: 100%;
  color: dark;
  text-align: center;
  padding-top: 80px;
  overflow: hidden;
}

.footer-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
  z-index: 0;
}

.footer-background svg {
  width: 100%;
  height: 100%;
  display: block;
}

footer section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.legal {
  font-size: 15px;
  opacity: 0.8;
}


/* .cart-card{
    width: 350px;
    min-height: 200px;

    background: rgba(255,255,255,0.95);

    border-radius: 20px;

    padding: 25px;

    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    backdrop-filter: blur(10px);

    box-shadow:
    0 10px 30px rgba(0,0,0,0.3),
    0 0 15px rgba(0,123,255,0.4);

    animation: floatingCard 3s ease-in-out infinite;

    z-index: 999;
}


.close-popup{
    position: absolute;

    top: 10px;
    right: 15px;

    font-size: 28px;
    font-weight: bold;

    cursor: pointer;

    color: #444;
}

.close-popup:hover{
    color: red;
}


@keyframes floatingCard{
    0%{
        transform: translate(-50%, -50%) translateY(0px);
    }

    50%{
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100%{
        transform: translate(-50%, -50%) translateY(0px);
    }
} */
 /* Tombol */
.open-btn{
    padding: 12px 20px;
    border: solid 1px #adadff;
    box-shadow: 1px 6px 3px 1px #05050580;
    border-radius: 50%;
    background: #0d6efd;
    color: white;
    width: 50px;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Background Popup */
.popup-bg{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.4);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* Card Popup */
.cart-card{
    width: 350px;
    min-height: 200px;

    background: rgba(255,255,255,0.95);

    border-radius: 20px;

    padding: 25px;

    position: relative;

    backdrop-filter: blur(10px);

    box-shadow:
    0 10px 30px rgba(0,0,0,0.3),
    0 0 15px rgba(0,123,255,0.4);

    animation: popupAnim 0.3s ease;
}

/* Tombol Close */
.close-popup{
    position: absolute;

    top: 10px;
    right: 15px;

    font-size: 28px;
    font-weight: bold;

    cursor: pointer;
}

/* Animasi */
@keyframes popupAnim{
    from{
        opacity: 0;
        transform: scale(0.7);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

.cart-popup.hidden {transform:scale(0);}

.payment-popup{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.payment-box{
    width: 300px;

    background: #4b2e1e;
    color: white;

    padding: 20px;
    border-radius: 20px;
}

.hidden{
    display: none;
}
#openPopup{
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: visible;
}

#cart-count{
    position: absolute;

    top: -6px;
    right: -6px;

    min-width: 22px;
    height: 22px;

    padding: 0 5px;

    background: crimson;
    color: white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;

    z-index: 999;
}

/* ========================= */
/* KERANJANG */
/* ========================= */

.cart-sidebar{
    position: fixed;

    top: 60px;
    right: 0;

    width: 380px;
    height: 100vh;

    background: #f8f1eb;

    z-index: 9999;

    padding: 20px;

    overflow-y: auto;

    box-shadow: -5px 0 20px rgba(0,0,0,.2);
}

.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.cart-header span{
    font-size: 35px;
    cursor: pointer;
}

.cart-item{
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
    padding-bottom: 15px;

    border-bottom: 1px solid #ddd;
}

.cart-item img{
    width: 80px;
    height: 80px;

    object-fit: cover;

    border-radius: 12px;
}

.cart-detail{
    flex: 1;
}

.qty-box{
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}

.qty-btn{
    width: 35px;
    height: 35px;

    border: none;
    border-radius: 50%;

    background: white;

    font-size: 20px;
}

.cart-price{
    font-weight: bold;
}

.cart-footer{
    margin-top: 30px;
}

.cart-info{
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    font-weight: bold;
}

.pay-btn{
    width: 100%;
    padding: 15px;

    border: none;
    border-radius: 12px;

    background: linear-gradient(to right, #3d2417, #6b3d21);

    color: white;

    font-size: 18px;
    font-weight: bold;
}

.clear-btn{
    width: 100%;

    margin-top: 15px;

    border: none;
    background: transparent;

    color: crimson;
}

/* ========================= */
/* POPUP PEMBAYARAN */
/* ========================= */

.payment-popup{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.4);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99999;
}

.payment-card{
    width: 700px;

    background: #fff8f0;

    border-radius: 25px;

    padding: 25px;
}

.payment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.payment-header span{
    font-size: 35px;
    cursor: pointer;
}

.payment-body{
    display: flex;
    gap: 30px;
}

.payment-summary{
    flex: 1;

    border-right: 1px solid #ddd;

    padding-right: 20px;
}

.payment-method{
    flex: 1;
}

.method-card{
    display: block;

    padding: 15px;

    border: 2px solid #ddd;

    border-radius: 15px;

    margin-bottom: 15px;

    cursor: pointer;
}

.method-card.active{
    border-color: #5a321b;
}

.payment-total{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    font-size: 22px;
    font-weight: bold;
}

.pay-now-btn{
    width: 100%;

    margin-top: 20px;
    padding: 15px;

    border: none;
    border-radius: 15px;

    background: linear-gradient(to right, #3d2417, #6b3d21);

    color: white;

    font-size: 18px;
    font-weight: bold;
}

.hidden{
    display: none;
}